In [2]:
%autosave 1
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

heart_disease = pd.read_csv("resources/heart-disease.csv")
heart_disease.head()

Autosaving every 1 seconds

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

# 4. Evaluating a model

### Three ways to evaluate Scikit-Learn models/estimators:
1. Estimator's built-in `score()` method.
2. The `scoring` parameter.
3. Problem-specific metric functions.

## 4.1 Evaluating a model with the `score()` method

- The highest value for score is 1.0, meaning that if we scored the data that we've fitted we might get the highest score (the model has 'biased' data). It depends on the number of estimators.

In [1]:
from sklearn.ensemble import RandomForestClassifier

np.random.seed(42)

# Create X and y
X = heart_disease.drop("target", axis=1)
y = heart_disease["target"]

# Create train/test splits
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Create classifier model instance
clf = RandomForestClassifier(n_estimators=2);

# Fit classifier to training data
clf.fit(X_train, y_train)

# Score the model based on the test data
clf.score(X_test, y_test)

NameError: name 'np' is not defined

In [4]:
clf.score(X_train, y_train)

0.9090909090909091

### Using the `score()` on a regression problem.

In [5]:
from sklearn.datasets import fetch_california_housing 
housing = fetch_california_housing()
housing_df = pd.DataFrame(housing["data"], columns=housing["feature_names"])
housing_df["target"] = housing["target"]

housing_df.head()

,MedInc,HouseAge,AveRooms,AveBedrms,Population,AveOccup,Latitude,Longitude,target
0,8.3252,41.0,6.984127,1.023810,322.0,2.555556,37.88,-122.23,4.526
1,8.3014,21.0,6.238137,0.971880,2401.0,2.109842,37.86,-122.22,3.585
2,7.2574,52.0,8.288136,1.073446,496.0,2.802260,37.85,-122.24,3.521
3,5.6431,52.0,5.817352,1.073059,558.0,2.547945,37.85,-122.25,3.413
4,3.8462,52.0,6.281853,1.081081,565.0,2.181467,37.85,-122.25,3.422

In [7]:
from sklearn.ensemble import RandomForestRegressor

np.random.seed(42)

X = housing_df.drop("target", axis=1)
y = housing_df["target"]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = RandomForestRegressor()

model.fit(X_train, y_train);

model.score(X_test, y_test)

0.8065734772187598

In [8]:
model.score(X_train, y_train)

0.9736801960414609