In [8]:
%autosave 1
%matplotlib inline

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

heart_disease = pd.read_csv("resources/heart-disease.csv")
heart_disease.head()

Autosaving every 1 seconds

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

# 1. Getting our data ready

1. Split the data into featues and lavels (usually `X` and `y`).
2. Filling (aslo called imputing) or disregarding missing values.
3. Converting non-numerical valus to numerical values (aslo called feature encoding)

In [11]:
# Features
X = heart_disease.drop("target", axis=1) # Columns axis
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [12]:
# Labels
y = heart_disease["target"]
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

> ### REMEMBER: NEVER TEST YOUR MODELS ON DATA THAT IT HAS LEARNT FROM, OTHERWISE IT WILL BE BIASED.

## Split the data into training and test sets

In [14]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

### Identifying amount of data for each set

In [15]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [16]:
X.shape

(303, 13)

In [19]:
# Training
len(heart_disease) * 0.8

242.4

In [18]:
# Test
len(heart_disease) * 0.2

60.6